button#minus:hover,
button#headerMenuDropdown:hover,
button[button-name="minus"]:hover,
button[button-name="close"]:hover {
  background-color: #aa1e26 !important;
}
.card-body p {
  font-size: 0.7rem;
}
.card-body {
  padding: 0.5rem;
}
.card {
  padding-bottom: 40vh;
}

p.text-white {
  color: #104C2C !important;
}

h4.text-white {
  color: #104C2C !important;
}

.text-label-default {
  color: #104C2C !important;
}

button[type="submit"] {
  background-color: #22ed95 !important;
  color: #000000 !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0 !important;
  border: none !important;
}
